<?xml version='1.0' encoding='utf-8'?>
<widget id="com.othelloventures.feedspider2" version="2.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FeedSpider</name>
    <description>RSS Feed Reader</description>
    <author email="feedspider@feedspider.net" href="http://www.feedspider.net">
        webOS Archive
    </author>
    <icon src="www/iconff-256.png" />
    <content src="index.html" />
    <allow-intent href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <access origin="*" />
    <preference name="Scheme" value="http" />
    <platform name="android">
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
